.brand{
    color: white;
    margin: 8px;
}
.center{
    text-align: center;
    margin-top: 15%;
}
.outBorder{
    border-right: solid 1px lightgray;
    height: 1024px;
    padding: 0
}
.inBorder{
    border-right: none
}
.hand{
    cursor: hand;
}
