/*列表*/
.list-left{
    width: 357px;
    height: 100%;
    float: left;
    border-right: 2px solid #EAEAEA;
    overflow-y: auto;
    overflow-x: hidden;
}
li,button{
    cursor: pointer;
}
/*公司名称*/
.logo {
    width: 356px;
    height: 122px;
    font-family: "黑体", serif;
    border-bottom: 1px solid #EAEAEA;
    font-size: 20px;
    color: #C3C3C3;
    position: relative;
}
.logo span {
    display: block;
    margin: 20px;
}
/*列表*/
.log-item {
    width: 357px;
    height: 166px;
    border-top: 2px solid #EAEAEA;
    color: rgba(155, 155, 155, 1);
    font-family: "黑体", serif;
    font-size: 15px;
}
.log-item:hover {
    background-color: #0078DB;
    color: #fff;
}
.log-item .item-header {
    margin-left: 17px;
    margin-top: 14px;
    margin-right: 24px;
}
.item-content {
    width: 314px;
    height: 110px;
    margin: 15px auto 0;
    font-size: 13px;
    overflow: hidden;
    word-break: break-all;
    line-height: 16px;
}
.list-left ul li:last-child{
    border-bottom: 2px solid #EAEAEA;
}
.list-left::-webkit-scrollbar {
    width: 7px;
}
.list-left::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.list-left::-webkit-scrollbar-thumb {
    background-color: rgba(74, 74, 74, 0.58);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
/*选中背景颜色*/
.list-active{
    background-color: #0078DB;
    color: #fff;
}
/*右边内容*/
.list-right{
    float: left;
    position: absolute;
    margin-left: 357px;
    top:30px;
    left: 25px;
    right: 25px;
    bottom: 0;
}
/*右边内容样式*/
.add-title .add-date{
    margin-bottom: 15px;
    font-size: 28px;
    color: #0078DB;
    display:inline
}
.add-title .add-bts{
    text-align: right;
    margin-top: -40px;
}
.add-title .add-bts button{
    border: none;
    border-radius: 10px;
    background-color: #0078DB;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 18px;
}
/*富文本编辑器样式*/
.editor{
    margin-top: 15px;
}
.simditor{
    border-top:1px solid #eeeeee;
    border-left: none;
    border-right: none;
    border-bottom: none;
}




/*部门&员工相关样式*/
.list-left .logo-dept {
    background-color: #fff;
    color: #B2B2B2;
    height: 90px;
    border-bottom: 1px solid #EAEAEA;
}

/*.js-dept-list li,.js-empl-list li{
    border: none;
}*/



.logo-dept span {
    color: #B2B2B2;
    padding: 20px;
    width: 80px;
    font-size: 20px;
    display: inline-block;
}
.logo-dept img{
    display: inline-block;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
}


.dept-item{
    border:none !important;
    font-family: "Microsoft YaHei", sans-serif;
}

.dept-item div {
    width: 355px;
    margin-left: 40px;
    border-bottom: 1px solid #EAEAEA;
    display: block;
    height: 48px;
    line-height: 48px;
}


.dept-item-active {
    border-bottom: none !important;
    color: #fff;
}
.dept-item * {
    vertical-align: middle;

}
.dept-item span {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 15px;
    margin-left: 20px;
}

.dept-item:hover {
    background-color: #0078DB;
    height: 48px;
    border-bottom: 1px solid transparent;
    color: #fff;
}

.panel-main {
    float: left;
    height: 100%;
    background-color: #fff;
}

.mask {
    position: fixed;
    top: 0;
    left: 480px;
    filter: alpha(opacity=60);
    background-color: #999;
    z-index: 1002;
    opacity: 0.5;
    -moz-opacity: 0.5;
}
.back_img{
    display: inline-block;
    float: right;
    margin-top: -5px;
    margin-right: 20px;
    height: 35px;
    cursor: pointer;
}











